body{
    margin: 50px 100px;
}

/* First Part: Header  */

.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-name{
    display: flex;
}
.fav-style{
    color: #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 15px;
}
.travel-style{
    color: #FF5400;
}
.links{
    display: flex;
}
span.nav-bar{
    display: none;
}
.link-style{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;
}
.home-color{
    color: #FF5400;
}

.explore-segment{
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-blend-mode: multiply;
    background-color: rgb(154, 144, 144);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    margin: 50px 0;
    padding: 106px 100px;
}
.explore-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.explore-description{
    color: #FFF;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: 26px;
    margin-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.input-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.input-style{
    width: 175px;
    height: 50px;
    border-radius: 8px;
    border-color: #FFF;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
}
.icon-style{
    position: relative;
    right: 55px;
    width: 24px;
    height: 24px;
}
.find-more{
    width: 175px;
    height: 60px;
    border-radius: 8px;
    border-color: #FF5400;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fa-solid{
    margin-right: 6px;
}

/* Second Section  */

.part-two{
    display: flex;
    margin-top: 100px;
    gap: 60px;
}
.popular-tour h3{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.tour-description{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal; 
    font-weight: 400;
    line-height: 26px;
}
.read-more{
    font-size: 1.25rem;
}

/* Third Section */
.part-three{
    margin-top: 60px;
}
.tour-destination{
    text-align: center;
}
.tour-destination h3{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.country-names{
    margin-top: 50px;
}
.set-one{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    margin-bottom: 25px;
}
.img-one{
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Rectangle\ 5.png');
    background-blend-mode: multiply;
    background-color: rgb(19, 19, 24, 0.2);
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.img-two{
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Rectangle\ 8.png');
    background-blend-mode: multiply;
    background-color: rgb(19, 19, 24, 0.2);
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.set-two{
    display: grid;
    gap: 25px;
    grid-template-columns: 32% 40% 23.5%;
    grid-template-rows: 286px;
    margin-bottom: 25px;
}
.img-three{
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Rectangle\ 6.png');
    background-blend-mode: multiply;
    background-color: rgb(19, 19, 24, 0.2);
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.img-four{
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Rectangle\ 7.png');
    background-blend-mode: multiply;
    background-color: rgb(19, 19, 24, 0.2);
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.img-five{
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Rectangle\ 9.png');
    background-blend-mode: multiply;
    background-color: rgb(19, 19, 24, 0.2);
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.set-three{
    display: grid;
    gap: 25px;
    grid-template-columns: 40.5% 57.25%;
    grid-template-rows: 300px;
    margin-bottom: 25px;
}
.img-six{
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Rectangle\ 11.png');
    background-blend-mode: multiply;
    background-color: rgb(19, 19, 24, 0.2);
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.img-seven{
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Rectangle\ 10.png');
    background-blend-mode: multiply;
    background-color: rgb(19, 19, 24, 0.2);
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Fourth Section */

.part-four{
    margin-top: 80px;
}
.Choose-container{
    text-align: center;
}
.Choose-container h3{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 10px;
}
.Choose-container p{
    padding-left: 200px;
    padding-right: 200px;
}
.card-container{
    display: flex;
    gap: 25px;
    margin-top: 35px;
}
.card-container-two{
    display: flex;
    justify-content: center;
}
.card-one, .card-two{
    width: 50%;
    height: 210px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    padding: 32px;
    margin-bottom: 25px;
}
.card-one{
    background: rgba(251, 181, 99, 0.05);
}
.card-two{
    background: rgba(41, 206, 246, 0.05);
}
.card-three{
    width: 50%;
    height: 210px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
}
.card-one h4, .card-two h4, .card-three h4, .deals-card-one h4, .news-letter h4{
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Fourth Section */

.part-five{
    margin-top: 60px;
}
.deals{
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    line-height: normal;
}
.deals h3{
    color: #131318;
    font-size: 2.5rem;  
    font-weight: 800;   
}
.deals p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px; 
}
.resort-img-one, .resort-img-three{
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Group\ 39.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 50px;
    display: flex;
    justify-content: right;
    margin-bottom: 25px;
}
.resort-img-two{
    background-image: url('../Assignment-2/B9A2-Hero-Travel/Images/Group\ 40.png');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 50px;
    display: flex;
    justify-content: left;
    margin-bottom: 25px;
}
.deals-card-one{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgb(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 500px;
    height: 350px;
    padding: 40px;
}
.distance{
    margin-left: 5px;
    margin-right: 20px;
}
.time-place, .another, .one, .two, .three{
    display: flex;
    align-items: center;
}
.time-place img{
    width: 1.5rem;
    height: 1.5rem;
}
.price-range{
    color: #FF5400;
    font-family: Mulish;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.Packages{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.see-more{
    width: 210px;
}

/* Sixth Section */

.part-six{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.perfect-segment{
    width: 49%;
}
.perfect-segment h1{
    color: #131318;
    font-family: Mulish;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; 
}
.perfect-description{
    color: #131318;
}
.trip-video{
    width: 500px;
    height: 450px;
    border-radius: 16px;
}
.tour-blog p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    position: relative;
    bottom: 270px;
}

/* Seventh Section */

.web-site{
    display: flex;
    gap: 25px;
}
.news-letter {
    background: #FFF;
    width: 450px;
    height: 350px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}
.name, .email{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgb(19, 19, 24, 0.05);
    border-color: rgb(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    margin-bottom: 16px;
}
.subscribe{
    width: 400px;
}
.travel-img{
    width: 50%;
    height: 430px;
    border-radius: 16px;
}
.save-tag{
    width: 300px;
    height: 100px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    line-height: 5px;
    padding-top: 5px;
    position: relative;
    bottom: 150px;
    left: 800px;
}
.travel-com{  
    font-size: 1.5rem;
    font-weight: 400;
}
.save-up{
    font-size: 2rem;
    font-weight: 800;
}

/* Eighth Section  */

.part-eight{
    text-align: center;
    background: rgb(19, 19, 24, 0.05);
    padding: 150px 300px;
}
@media screen and (max-width: 600px) {
    body{
        margin: 10px 15px;
    }
    a.link-style{
        display: none;    
    }
    span.nav-bar{
        display: inline-block;
    }
    .explore-segment{
        padding: 25px 15px;
    }
    .explore-title{
        font-size: 22px;
    }
    .explore-description{
        padding-left: 5px;
        padding-right: 5px;
    }
    .input-bar{
        width: 100%;
        height: 285px;
        display: grid;
        align-items: center;    
    }
    .input-style{
        width: 200px;
        height: 20px;
        padding: 16px;
    }
    .find-more{
        width: 235px;
        height: 55px;
    }
    .part-two{
        display: inline;
    }
    .read-more{
        width: 150px;
        height: 50px;
    }
    .mountain-img{
        width: 100%;
        margin-top: 20px;
    }
    .part-three, .part-five{
        margin-top: 25px;
    }
    .tour-destination h2, .Choose-container h3, .card-one h4, .card-two h4, .card-three h4, .deals h3, .deals-card-one, .perfect-segment h1, .tour-blog p, .news-letter h4, .save-up{
        font-size: 20px;
    }
    .country-names, .price-range, .distance, .Packages{
        margin-top: 16px;
    }
    .set-one, .set-two, .set-three{
        display: inline;
    }
    .img-one, .img-two, .img-three, .img-four, .img-five, .img-six, .img-seven{
        display: grid;
        grid-template-rows: 176px;
        width: 100%;
        margin-bottom: 16px;
    }
    .Choose-container p{
        padding-left: 5px;
        padding-right: 25px;
    }
    .card-container{
        display: inline;
        justify-content: center;
    }
    .card-one, .card-two, .card-three{
        width: 235px;
        height: 280px;
    }
    .card-one img, .card-two img, .card-three img{
        width: 48px;
        height: 48px;
    }
    .resort-img-one, .resort-img-two, .resort-img-three{
        display: flex;
        align-items: bottom;
        padding: 250px 15px 15px 15px;
        margin-bottom: 15px;
    }
    .deals-card-one{
        width: 350px;
        height: 320px;
        padding: 10px;
    }
    .deals-card-one h4{
        margin-top: 25px;
        line-height: 0;
    }
    .deals-card-one p{
        line-height: 15px;
    }
    .time-place{
        display: inline;
    }
    .one{
        margin-bottom: 0;
    }
    .distance{
        margin-bottom: 12px;
    }
    .another{
        margin-bottom: 5px;
    }
    .booking{
        width: 130px;
        height: 40px;
    }
    .Packages{
        display: none;
    }
    .part-six{
        display: inline;
    }
    .perfect-segment{
        width: 100%;
    }
    .perfect-segment h1{
        line-height: 30px;
    }
    .watch{
        width: 174px;
        margin-bottom: 24px;
    }
    .trip-video{
        width: 100%;
        height: 200px;
    }
    .tour-blog p{
        position: relative;
        bottom: 165px;
    }
    .part-seven{
        position: relative;
        bottom: 100px;
    }
    .web-site{
        display: inline;
    }
    .news-letter{
        width: 90%;
        padding: 15px;
        margin-bottom: 15px;
    }
    .name, .email{
        width: 245px;
    }
    .travel-img{
        width: 100%;
        height: 300px;
    }
    .save-tag{
        width: 214.023px;
        height: 79.268px;
        left: 70px;
        bottom: 120px;
    }
    .travel-com{
        font-size: 16px;
    }
}